.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgb(65, 115, 189);
}
.searchButton {
  border-radius: 3px;
  border: none;
  padding-right: 2px;
  cursor: pointer;
}
